/ytPlaylist/__pycache__
/play/migrations/__pycache__
/play/__pycache__
db.sqlite3
log_file.log
/play/migrations/*
lol.json
client_secret.json
.env
play/views/__pycache__/*
ytPlaylist/settings.py
app_log.log
cron.log
play/management/commands/__pycache__/sync_yt.cpython-312.pyc
