{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>
  <title>Playlists</title>

  <!--favicon-->
  <link rel="icon" href="static/img/favicon.png" type="image/x-icon">

  <!-- Bootstrap core CSS-->
  <link href="static/assets/css/bootstrap.min.css" rel="stylesheet"/>

  <!-- Icons CSS-->
  <link href="static/assets/css/icons.css" rel="stylesheet" type="text/css"/>
  
  <!-- Sidebar CSS-->
  <link href="static/assets/css/sidebar-menu.css" rel="stylesheet"/>

  <!-- Custom Style-->
  <link href="static/assets/css/app-style.css" rel="stylesheet"/>
  
</head>

<style>
  .someextra{
    height: 100%;
  }

  .thumbnails { 
    object-fit:cover;
    width: 160px;
    height: 90px;
  }

  .thumbnails:hover{
	box-shadow: 0px 0px 20px white;
  }
  
  /* Search bar  */
::selection{
  color: #fff;
  background: #664AFF;
}

.search-input{
  /* background: rgba(255, 255, 255, 0.4); */
  width: 40%;
  border-radius: 5px;
  position: absolute;
  /* box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12); */
  margin-top: -17px;
}

.search-input input{
  height: auto;
  width: 111%;
  outline: none;
  border: 1px solid rgb(255,255,255,0.2);
  border-radius: 5px;
  padding: 4px 60px 4px 15px;
  font-size: 13px;
  box-shadow: 0px 0px 0px rgba(0,0,0,0.1);
  background-color: rgb(255,255,255,0.2);
  color: white;
}

.search-input.active input{
  border-radius: 5px 5px 0 0;
}

.search-input .autocom-box{
  padding: 0;
  opacity: 0;
  pointer-events: none;
  max-height: 280px;
  overflow-y: auto;
}

.search-input.active .autocom-box{
  padding: 4px 4px;
  opacity: 1;
  border-radius: 5px;
  font-size: 15px;
  background-color: rgb(0,0,0,0.3);
  color:white;
  width:89%;
  pointer-events: auto;
}

.autocom-box li{
  list-style: none;
  padding: 4px 12px;
  display: none;
  cursor: default;
  border-radius: 5px;
}

.search-input.active .autocom-box li{
  display: block;
}
.autocom-box li:hover{
  background: rgb(255,255,255,0.7);
  color:black;
}

.search-input .icon{
  position: static;
  right: 0px;
  top: 0px;
  text-align: right;
  line-height: 38px;
  font-size: 14px;
  width: 25px;
  padding-right: 8px;
  color: white;
  cursor: pointer;
}

.iconExtra{
  position:relative;
  left:-161%;
}

</style>

<body id="boddy">
	<!-- Start wrapper-->
	<div id="wrapper">
		<!--Start sidebar-wrapper-->
		<div id="sidebar-wrapper" data-simplebar="" data-simplebar-auto-hide="true">
			<div class="brand-logo">
				<a href="{% url 'loggedIn' %}"> <img src="{% static 'img/logo.png' %}" class="logo-icon" alt="logo icon">
					<h5 class="logo-text">MeTube</h5> </a>
			</div>
			<ul class="sidebar-menu do-nicescrol">
				<li class="sidebar-header">NAVIGATION</li>
				<li>
					<a href="{% url 'loggedIn' %}"> <i class="zmdi zmdi-view-dashboard"></i> <span>Dashboard</span> </a>
				</li>
				<li>
					<a href="{% url 'playlists_page' %}"> <i class="zmdi zmdi-format-list-bulleted"></i> <span>Playlists</span> </a>
				</li>
				<hr>
				<li class="sidebar-header">ACCOUNTS</li>
				<li>
					<a href="{% url 'profile' %}"> <i class="zmdi zmdi-face"></i> <span>Profile</span> <small class="badge float-right badge-light">New</small> </a>
				</li>
				<hr>
				<li>
					<a href="{% url 'logout_handler' %}"> <i class="zmdi zmdi-lock"></i> <span>Logout</span> </a>
				</li>
			</ul>
		</div>
		<!--End sidebar-wrapper-->

<!--Start topbar header-->
<header class="topbar-nav">
 <nav class="navbar navbar-expand fixed-top">
  <ul class="navbar-nav mr-auto align-items-center">
    <li class="nav-item">
      <a class="nav-link toggle-menu" href="javascript:void();">
       <i class="icon-menu menu-icon"></i>
     </a>
    </li>

   <!-- search bar -->
   <li class="nav-item">
    <div class="search-input">
      <a class="nav-link scrollto active" href="" hidden></a>
  
      <div style="width: 84%; float:left;">
      <input type="text" placeholder="Search..." class="extraInput">
      </div>
  
      <div class="icon" style="width: 10%;float:right;  position:relative">
      <i class="icon-magnifier iconExtra"></i>
      </div>
  
      
    <div class="autocom-box"></div>
  
    </div>
  </li>

</ul>

<ul class="navbar-nav align-items-center right-nav-link">
    {{ username }}
</ul>
   
<ul class="navbar-nav align-items-center right-nav-link">
  <!-- account -->
  <li class="nav-item">
    <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown" href="#">
      <span class="user-profile"><img src="{{ photo }}" class="img-circle" alt="user avatar"></span>
    </a>
    <ul class="dropdown-menu dropdown-menu-right">
     <li class="dropdown-item user-details">
         <div class="media">
           <div class="avatar"><img class="align-self-start mr-3" src="{{ photo }}" alt="user avatar"></div>
          <div class="media-body">
          <h6 class="mt-2 user-title">{{ name }}</h6>
          <p class="user-subtitle">{{ email }}</p>
          </div>
         </div>
      </li>
      <li class="dropdown-divider"></li>
      <li class="dropdown-item"><i class="icon-wallet mr-2"></i> <a href="{% url 'profile' %}">Account</a></li>
      <li class="dropdown-divider"></li>
      <li class="dropdown-item"><i class="icon-power mr-2"></i> <a href="{% url 'logout_handler' %}">Logout</a></li>
    </ul>
  </li>
</ul>
</nav>
</header>
<!--End topbar header-->

<div class="clearfix"></div>
	
  <div class="content-wrapper">
    <div class="container-fluid">

      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <div class="row mt-12"> 
                
                <div class="col-lg-6 col-sm-6 col-lg-6 col-6" style=" display: flex; justify-content: center; align-items: center; padding:10px;">
                  <strong><h5>MY PLAYLISTS</h5></strong>
                  
                </div>
                <div class="col-lg-6 col-sm-6 col-lg-6 col-6" style=" display: flex; justify-content: center; align-items: center;">
                  <strong><h5>Total : {{noOfPlaylists}}</h5></strong>
                </div>
              </div>
			        <div class="table-responsive someextra">
              <table class="table table-hover table-striped">
                <thead>
                  <tr>
                    <th scope="row">Sr no</th>
                    <th scope="col">Title</th>
                    <th scope="col">No of videos</th>
                    <th>Thumbnail</th>
                  </tr>
                </thead>
                <tbody>
                  {% for gg in playlist_list %}
                  <tr>
                    <td>{{gg.sno}}</td>
                    <td>{{gg.title}}</td>
                    <td>{{gg.video_no}}</td>
                    <td><a href="{{gg.link}}" target="_blank"><img src="{{gg.thumbnail}}" alt="Thumbnail" class="thumbnails"></a></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            </div>
          </div>
        </div>
      </div>
      <!--End Row-->
	  
	  <!--start overlay-->
		  <div class="overlay toggle-menu"></div>
		<!--end overlay-->

    </div>
    <!-- End container-fluid-->
    
    </div><!--End content-wrapper-->
   <!--Start Back To Top Button-->
    <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
    <!--End Back To Top Button-->
	
	<!--Start footer-->
	<footer class="footer">
      <div class="container">
        <div class="text-center">
          Copyright © 2021 Zodiac and Co.
        </div>
      </div>
    </footer>
	<!--End footer-->
	
	<!--start color switcher-->
   <div class="right-sidebar">
    <div class="switcher-icon">
      <i class="zmdi zmdi-settings zmdi-hc-spin"></i>
    </div>
    <div class="right-sidebar-content">

      <p class="mb-0">Gradient Background</p>
      <hr>
      
      <ul class="switcher">
        <li id="theme7"></li>
        <li id="theme8"></li>
        <li id="theme9"></li>
        <li id="theme10"></li>
        <li id="theme11"></li>
        <li id="theme12"></li>
		    <li id="theme13"></li>
        <li id="theme14"></li>
        <li id="theme15"></li>
      </ul>

      <p class="mb-0">Gaussion Texture</p>
      <hr>
      
      <ul class="switcher">
        <li id="theme1"></li>
        <li id="theme2"></li>
        <li id="theme3"></li>
        <li id="theme4"></li>
        <li id="theme5"></li>
        <li id="theme6"></li>
      </ul>

      <ul>Save theme from account settings</ul>

     </div>
   </div>
  <!--end color switcher-->
   
  </div><!--End wrapper-->


  <!-- jquerry-->
  <script src="static/assets/js/jquery.min.js"></script>

  <!-- for account popup -->
  <script src="static/assets/js/bootstrap.min.js"></script>
	
  <!-- sidebar-menu js -->
  <script src="static/assets/js/sidebar-menu.js"></script>
  
  <!-- Custom scripts -->
  <script src="static/assets/js/app-script.js"></script>

  <script>
    // setting theme 
    var theme =  JSON.parse("{{theme|escapejs}}");

    document.getElementById("theme"+theme).style.border="2px solid white";
    setTheme = "bg-theme bg-theme"+theme
    console.log(setTheme)
    document.getElementById("boddy").className = setTheme;


    var data = JSON.parse("{{playlist_data|escapejs}}");
    // console.log(data)

  </script>

  <!-- search bar  -->
<script>
	const suggestionsDict = {
		//dashboard 
		"dashboard":"{% url 'loggedIn' %}",

		"deleted playlists" :"{% url 'loggedIn' %}#deleted_playlists",
		"added videos": "{% url 'loggedIn' %}#added_videos",
		"deleted videos" : "{% url 'loggedIn' %}#deleted_videos",
		"last online": "{% url 'loggedIn' %}#widgets",
		"total Playlists": "{% url 'loggedIn' %}#widgets", 

		//playlists
		"playlists": "{% url 'playlists_page' %}",

		//profile
	  "profile" : "{% url 'profile' %}",

		"username":"{% url 'profile' %}#user_details",
		"name":"{% url 'profile' %}#user_details",
		"email":"{% url 'profile' %}#user_details",
		"youtube channel":"{% url 'profile' %}#user_details",
		"youtube channel ID":"{% url 'profile' %}#user_details",
		"youtube channel":"{% url 'profile' %}#user_details",
		"profile picture":"{% url 'profile' %}#profile_picture",
		"customization":"{% url 'profile' %}#theme_customization",
		"themes":"{% url 'profile' %}#theme_customization",
		"report bug":"{% url 'profile' %}#report_message",
		"request feature":"{% url 'profile' %}#report_message",
		"contact developer":"{% url 'profile' %}#report_message",

		//logout
	  	"logout":  "{% url 'logout_handler' %}",  
	};
  
	let suggestions = [
		"dashboard",
		"deleted playlists",
		"added videos",
		"deleted videos",
		"deleted playlists",
		"last online",
		"total Playlists",

		"playlists",

		"profile" ,
		"username",
		"name",
		"email",
		"youtube channel",
		"youtube channel ID",
		"youtube channel",
		"profile picture",
		"customization",
		"themes",
		"report bug",
		"request feature",
		"contact developer",

		//logout
		"logout",  
	]
	
  // getting all required elements
  const searchWrapper = document.querySelector(".search-input");
  const inputBox = searchWrapper.querySelector("input");
  const suggBox = document.querySelector(".autocom-box");
  const icon = searchWrapper.querySelector(".icon");
  let linkTag = searchWrapper.querySelector("a");
  let webLink;
  
  // if user press any key and release
  inputBox.onkeyup = (e)=>{
	let userData = e.target.value; //user enetered data
	let emptyArray = [];
	if(userData){
		emptyArray = suggestions.filter((data)=>{
			//filtering array value and user characters to lowercase and return only those words which are start with user enetered chars
			return data.toLocaleLowerCase().startsWith(userData.toLocaleLowerCase());
		});
    if(emptyArray.length==0){
			return;
		}
		emptyArray = emptyArray.map((data)=>{
			// passing return data inside li tag
			return data = `<li>${data}</li>`;
		});
		searchWrapper.classList.add("active"); //show autocomplete box
		showSuggestions(emptyArray);
		let allList = suggBox.querySelectorAll("li");
		for (let i = 0; i < allList.length; i++) {
			//adding onclick attribute in all li tag
			allList[i].setAttribute("onclick", "select(this)");
		}
	}else{
		searchWrapper.classList.remove("active"); //hide autocomplete box
	}
  }
  
  function select(element){
	let selectData = element.textContent;
	inputBox.value = selectData;
	icon.onclick = ()=>{
		webLink = suggestionsDict[selectData];
  
		console.log(webLink);
  
		linkTag.setAttribute("href", webLink);
		linkTag.click();
	}
	searchWrapper.classList.remove("active");
  }
  
  function showSuggestions(list){
	let listData;
	if(!list.length){
		userValue = suggestionsDict.value;
		listData = `<li>${userValue}</li>`;
	}else{
	  listData = list.join('');
	}
	suggBox.innerHTML = listData;
  }
  
  </script>
	
</body>
</html>
