<html>

 <!-- Bootstrap core CSS-->
 <link href="static/assets/css/bootstrap.min.css" rel="stylesheet"/>

 <!-- Icons CSS-->
 <link href="static/assets/css/icons.css" rel="stylesheet" type="text/css"/>
 <!-- Sidebar CSS-->
 <link href="static/assets/css/sidebar-menu.css" rel="stylesheet"/>
 <!-- Custom Style-->
 <link href="static/assets/css/app-style.css" rel="stylesheet"/>
 




  <!-- Bootstrap core JavaScript-->
  <script src="static/assets/js/jquery.min.js"></script>

  <script src="static/assets/js/bootstrap.min.js"></script>

  <!-- sidebar-menu js -->
  <script src="static/assets/js/sidebar-menu.js"></script>

  <!-- Custom scripts -->
  <script src="static/assets/js/app-script.js"></script>

</html>